body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url('download.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: rgba(255, 255, 255, 0.6); /* Transparent to allow background visibility */
    z-index: 1; /* Display above background but below interactive elements */
    pointer-events: none; /* Prevent interference with hover interactions */
    text-align: center;
    font-family: Arial, sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

  .music-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .music-buttons button {
    margin: 3px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  